##경로 검색 Smoke Test 결과 
### 개선 전
![path_smoke](../image/path-smoke.png)

### gzip, http2 적용 후 
![path_gzip](../image/path-smoke-gzip.png)

### 부하 분산 후 
![path_load_balancing](../image/path-smoke-load-balancing.png)
