##경로 검색 Stress Test 결과
### 개선 전
![path_stress](../image/path-stress.png)

### gzip, http2 적용 후
![path_gzip](../image/path-stress-gzip.png)

### 부하 분산 후
![path_load_balancing](../image/path-stress-load-balancing.png)
