##경로 검색 Load Test 결과
### 개선 전
![path_load](../image/path-load.png)

### gzip, http2 적용 후
![path_gzip](../image/path-load-gzip.png)

### 부하 분산 후
![path_load_balancing](../image/path-load-load-balancing.png)
