##노선 관리 Smoke Test 결과 
### 개선 전
![line_smoke](../image/line-smoke.png)

### gzip, http2 적용 후 
![line_gzip](../image/line-smoke-gzip.png)

### 캐시 적용 후 
![line_cache](../image/line-smoke-cache.png)

### 부하 분산 후 
![line_load_balancing](../image/line-smoke-load-balancing.png)
