##노선 관리 Load Test 결과
### 개선 전
![line_load](../image/line-load.png)

### gzip, http2 적용 후
![line_gzip](../image/line-load-gzip.png)

### 캐시 적용 후
![line_cache](../image/line-load-cache.png)

### 부하 분산 후
![line_load_balancing](../image/line-load-load-balancing.png)
