##노선관리 Stress Test 결과
### 개선 전
![line_stress](../image/line-stress.png)

### gzip, http2 적용 후
![line_gzip](../image/line-stress-gzip.png)

### 캐시 적용 후
![line_cache](../image/line-stress-cache.png)

### 부하 분산 후
![line_load_balancing](../image/line-stress-load-balancing.png)
