spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.27.152:3306/subway?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: masterpw
    hikari:
      max-lifetime: 58000
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

cloud:
  aws:
    stack:
      auto: false
    region:
      static: ap-northeast-2

management:
  metrics:
    export:
      cloudwatch:
        namespace: giraffelim
        batch-size: 20
  endpoints:
    web:
      exposure:
        include: "*"
