<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="access-console-appender.xml" />
    <include resource="access-file-appender.xml" />

    <springProfile name="local,test">
        <appender-ref ref="console-access" />
    </springProfile>

    <springProfile name="prod">
        <appender-ref ref="file-access" />
    </springProfile>
</configuration>
