<?xml version="1.0" encoding="UTF-8"?>

<included>
    <property name="home" value="log/" />

    <appender name="ACCESS-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${home}app-access-file.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${home}app-access-file-%d{yyyyMMdd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>15MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>utf8</charset>
            <Pattern>%fullRequest%n%n%fullResponse</Pattern>
        </encoder>
    </appender>
</included>