<?xml version="1.0" encoding="UTF-8"?>
<!-- 60초마다 설정 파일의 변경을 확인 하여 변경시 갱신 -->
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 로그 패턴 -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/file.log</file>
        <!-- 날짜 기준에 따라 로그파일 롤링 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 롤링될 로그 파일 패턴 지정 -->
<!--            <fileNamePattern>${home}file-%d{yyyy-MM-dd}-%i.log</fileNamePattern>-->
            <fileNamePattern>logs/file-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- 30일 이후의 로그파일 삭제  -->
            <maxHistory>30</maxHistory>
            <!-- 로그파일의 크기가 너무 커지는 것을 방지 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 로그파일들의 총 용량 제한 -->
                <maxFileSize>30MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!-- 로그 패턴 -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="json" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/json.log</file>
        <!-- 날짜 기준에 따라 로그파일 롤링 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 롤링될 로그 파일 패턴 지정 -->
            <fileNamePattern>logs/json-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- 30일 이후의 로그파일 삭제  -->
            <maxHistory>30</maxHistory>
            <!-- 로그파일의 크기가 너무 커지는 것을 방지 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 로그파일들의 총 용량 제한 -->
                <maxFileSize>30MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>true</includeContext>
            <includeCallerData>true</includeCallerData>
            <timestampPattern>yyyy-MM-dd HH:mm:ss.SSS</timestampPattern>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <thread>thread</thread>
                <message>message</message>
                <stackTrace>exception</stackTrace>
                <mdc>context</mdc>
            </fieldNames>
        </encoder>
    </appender>

    <!-- ROOT 레벨 설정(OFF, DEBUG, INFO)-->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="json" />
    </root>
</configuration>
