<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="console-appender.xml"/>
    <include resource="file-appender.xml"/>
    <include resource="json-appender.xml"/>

    <springProfile name="console-logging">
        <logger name="console" level="WARN">
            <appender-ref ref="console"/>
        </logger>
    </springProfile>

    <springProfile name="file-logging">
        <logger name="file" level="INFO">
            <appender-ref ref="file"/>
        </logger>
    </springProfile>

    <springProfile name="json-logging">
        <logger name="json" level="INFO">
            <appender-ref ref="json"/>
        </logger>
    </springProfile>
</configuration>
