<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="config_home" value="logback/" />
    <!--spring boot의 기본 logback defaults.xml은 그대로 가져간다.-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProfile name="local | test">
        <include resource="${config_home}console-appender.xml" />
        <include resource="${config_home}file-appender.xml" />
    </springProfile>

    <springProfile name="prod">
        <include resource="${config_home}console-appender.xml" />
        <include resource="${config_home}file-appender.xml" />
    </springProfile>

    <root>
        <springProfile name="local | test">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </springProfile>
        <springProfile name="prod">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </springProfile>
    </root>
</configuration>