##로그인 Stress Test 결과
### 개선 전
![login_stress](../image/login-stress.png)

### gzip, http2 적용 후
![login_gzip](../image/login-stress-gzip.png)

### 부하 분산 후
![login_load_balancing](../image/login-stress-load-balancing.png)
