##로그인 Smoke Test 결과 
### 개선 전
![login_smoke](../image/login-smoke.png)

### gzip, http2 적용 후 
![login_gzip](../image/login-smoke-gzip.png)

### 부하 분산 후 
![login_load_balancing](../image/login-smoke-load-balancing.png)
