##로그인 Load Test 결과
### 개선 전
![login_load](../image/login-load.png)

### gzip, http2 적용 후
![login_gzip](../image/login-load-gzip.png)

### 부하 분산 후
![login_load_balancing](../image/login-load-load-balancing.png)
